/* .root {
  height: 100vh;
  background: #202020;
  display: flex;
  flex-direction: column;
} */

.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 320px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
  user-select: none;
  min-height: 100vh;
  background: #202020;
}
