.portfolio {
  background-color: #202020;
}

.portfolio__container {
  margin: 0 auto;
  padding: 0 70px 125px;
  max-width: 1280px;
  box-sizing: border-box;
}

.portfolio__title {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #8b8b8b;
}

.portfolio__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio__item {
  padding-top: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid #8b8b8b;
}

.portfolio__item:first-of-type {
  padding-top: 0;
}

.portfolio__item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  line-height: 167%;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.4s ease;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link-text {
  margin: 0;
}

.portfolio__link-arrow {
  margin: 0;
  line-height: 200%;
  transition: opacity 0.4s ease;
}

.portfolio__link-arrow:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .portfolio__container {
    padding: 0 0 90px;
    width: calc(100% - 50px * 2);
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 179%;
  }

  .portfolio__link-arrow {
    line-height: 214%;
  }
}

@media screen and (max-width: 690px) {
  .portfolio__container {
    padding: 0 0 70px;
    width: calc(100% - 14px * 2);
  }

  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link-arrow {
    line-height: 28px;
  }
}
