.info {
  background-color: #202020;
}

.info__color_grey {
  background-color: #272727;
}

.info__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 70px;
  box-sizing: border-box;
}

.info__title {
  margin: 0;
  border-bottom: 1px solid #dadada;
  padding-bottom: 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 905px) {
  .info__container {
    padding: 90px 0;
    width: calc(100% - 50px * 2);
  }
}

@media screen and (max-width: 760px) {
  .info__container {
    padding: 70px 0;
    width: calc(100% - 18px * 2);
  }
  .info__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
  .info__color_grey {
    background-color: #202020;
  }
  .info__title_color_black {
    border-bottom: 1px solid #000000;
  }
}
